Name Minimum Number In Stock Type Note
<% @list.items.each do |item| %>
   <div class="center-stuff"> <%= item.name %>
    <%= item.minimum %>
    <%= item.number_in_stock %>
    <%= item.item_type %>
    <%= item.note %>
<% end %>
</div>