Name Minimum Number In Stock Type Note
<% @list.items.each do |item| %>
<p>
    <%= item.name %>
    <%= item.minimum %>
    <%= item.number_in_stock %>
    <%= item.item_type %>
    <%= item.note %>
    </p>
<% end %>
    <%= link_to 'New Item', "/lists/#{@list.id}/items/new"%>
