<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/header" %>
    </div>
    <div class="col">
      <%= link_to 'Home', '/'%>&ensp; -> &ensp;<%= link_to 'Lists', '/lists' %>&ensp; -> &ensp;<%= @list.name %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Minimum</th>
            <th scope="col"># In Stock</th>
            <th scope="col">Need</th>
            <th scope="col">Type</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <% @list.items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td class="text-center"><%= item.minimum %></td>
              <td class="text-center"><%= item.number_in_stock %></td>
              <td class="text-center"><%= item.need %> </td>
              <td><%= item.item_type %></td>
              <td><%= item.note %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= link_to 'New Item', "/lists/#{@list.id}/items/new"%>
    </div>
  </div>
</div>